
// Bootstrap変数のカスタマイズ
$primary: darken(#7BC734, 10);
$h1-font-size: 4rem;
$body-bg: #F8F6E9;

@import "node_modules/bootstrap/scss/bootstrap";

$title-font-size: 5.5rem;
$image-cow-xy-ratio: 0.7727;

// メディアクエリ
@mixin device-type($type) {
  @if ($type == pc) {
    @media (min-width: map-get($map: $grid-breakpoints, $key: lg)) and (orientation: landscape) {
      @content;
    }
  } @else if $type == mobile {
    @media (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
      @content;
    }
  } @else {
    @content;
  }
}


// 共通処理

// font family
// https://ics.media/entry/200317/ を参照

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}


h1 {
  color: $primary;
}


// header
$image-cow-width-ratio: 0.85;
$image-cow-height: 100vw * $image-cow-width-ratio * $image-cow-xy-ratio;
header {
  position: relative;

  p {
    position: absolute;
    // top: 10px;
    // top: 2vh;
    left: 0;
    right: 0;
    margin: auto;

    color: $primary;
    @include font-size($title-font-size);
    text-align: center;
  }

  .fv-image {
    width: 100vw * $image-cow-width-ratio;
    margin: 0 auto;
    display: block;
  }

}

@media (min-width: map-get($map: $grid-breakpoints, $key: lg)) and
        (orientation: landscape) {
  header {
    height: 100vh;
    .fv-image {
      height: 100%;
      width: auto;
    }
  }
}

// ナビゲーションバー

nav {

  $btn-height-ratio: 0.08;
  $padding-y-ratio: 0.02;
  $move-up-ratio: $btn-height-ratio + $padding-y-ratio * 2;

  .custom-row {
    display: flex;
    flex-direction: row;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    background-color: $body-bg; // これがないと透明
    &:hover {
      color: $body-bg;
      background-color: rgba($primary, 0.8);
    }
  }

  position: sticky;
  top: 0;

  @include device-type(other) {
    $move-up: $image-cow-height * $move-up-ratio;
    $padding-y: $image-cow-height * $padding-y-ratio;
    $btn-height: $btn-height-ratio * $image-cow-height;
    margin-top: -$move-up;
    padding: $padding-y 0;
    margin-bottom: 2rem;
    .btn {
      height: $btn-height;
      font-size: $btn-height * 0.4;
    }
  }

  @include device-type(pc) {
    $image-cow-height: 100vh;
    $move-up: $image-cow-height * $move-up-ratio;
    $padding-y: $image-cow-height * $padding-y-ratio;
    $btn-height: $image-cow-height * $btn-height-ratio;
    margin-top: -$move-up;
    padding: $padding-y 0;
    .btn {
      // margin: 0 auto;
      height: $btn-height;
      font-size: 1.5rem;
      border: 2px solid;
    }
  }

  @include device-type(mobile) {
    // $btn-height: $btn-height-ratio * $image-cow-height;
    $btn-height: 2.5rem;
    position: fixed;
    top: initial;
    bottom: 0;
    margin-bottom: 0;
    .btn {
      height: $btn-height;
      font-size: 1rem;
      border: 1px solid;
    }
  }

}



// メイン部分

.section-1 {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 3rem;

  // ankerでとんだときnavのstickyでheadingがかぶらないようにする
  @mixin virtual-slide-down($image-cow-height) {
    padding-top: 0.1 * $image-cow-height;
    margin-top: -0.1 * $image-cow-height;
  }
  @include device-type(pc) {
    $image-cow-height: 100vh;
    @include virtual-slide-down($image-cow-height);
  }
  @include device-type(other) {
    @include virtual-slide-down($image-cow-height);
  }
  @include device-type(mobile) {
    @include virtual-slide-down(0);
  }
}

.section-2 {
  margin-bottom: 1.5rem;
}

.skill-container {
  font-size: 1.5rem;
}

i.fa-arrow-alt-circle-right {
  @include font-size(2rem);
  display: inline-block;
  margin: auto 0;
}

// ハイパーリンクのアイコンのいち調整
h2 a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.image-container {
  img {
    width: 200px;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
}


// footer

footer {
  height: 1.5rem;
  background-image: url("images/footer-grass.svg");
  background-size: contain;
}
